<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-menu default-active="1" mode="horizontal">
                <el-menu-item>
                    <img src="assets/zendesk-logo.svg" alt="" width="120" height="24">
                </el-menu-item>
                <el-menu-item index="1" style="font-size: 20px">Ticket Viewer</el-menu-item>
            </el-menu>
        </el-header>

        <el-main>
            <div v-if="listViewFlag">
                <el-input placeholder="apikey" v-model="apikey" show-password size="small" style="width: 400px">
                    <template slot="prepend">API Key</template>
                    <el-button slot="append" icon="el-icon-check" @click="getTicketsByPage"></el-button>
                </el-input>
                <el-table
                        v-loading="loadingFlag"
                        :data="tickets"
                        @row-click="showTicket"
                        style="width: 100%">
                    <el-table-column
                            width=80
                            label="ID"
                            prop=id>
                    </el-table-column>
                    <el-table-column
                            width=500
                            label="Subject"
                            prop=subject>
                    </el-table-column>
                    <el-table-column
                            label="Requester"
                            prop=requester_id>
                    </el-table-column>
                    <el-table-column
                            label="Requested"
                            prop=created_at
                            :formatter=this.showLocaleDateString>
                    </el-table-column>
                    <el-table-column
                            label="Updated"
                            prop=updated_at
                            :formatter=this.showLocaleDateString>
                    </el-table-column>
                    <el-table-column
                            label="GroupId"
                            prop=group_id>
                    </el-table-column>
                </el-table>
                <el-pagination
                        @prev-click="handlePrev"
                        @next-click="handleNext"
                        @current-change="handleCurrentChange"
                        background
                        layout="prev, pager, next"
                        :current-page="page"
                        :page-count="totalPage"
                        style="display: flex; justify-content: center; align-items: center; padding-top: 20px">
                </el-pagination>
            </div>
            <div v-else>
                <el-page-header @back="hideTicket" title="Back" :content="'Ticket #' + selectedTicket.id">
                </el-page-header>
                <el-container>
                    <el-main>
                        <h1 style="font-size: 2em">{{ selectedTicket.subject }}</h1>
                        <h2>Description</h2>
                        <span>{{ selectedTicket.description }}</span>
                        <h2>Tags</h2>
                        <el-tag size="small" v-for="tag in selectedTicket.tags" :key="tag"
                                style="margin-right: 5px">
                            {{tag}}
                        </el-tag>
                    </el-main>
                </el-container>
            </div>
        </el-main>

    </el-container>
</div>
</body>

<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.15.6/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                status: null,
                msg: null,

                username: "haominqiu@gmail.com",
                apikey: null,

                tickets: [],
                selectedTicket: null,

                page: 1,
                perPage: 25,
                totalPage: 0,

                loadingFlag: true,
                listViewFlag: true
            }
        },
        watch: {
            status: function (newStatus, oldStatus) {
                if (newStatus != null && newStatus !== 200) {
                    this.$notify.error({
                        title: "Ooops!",
                        message: "Looks like Something wrong. Tech Details: " + this.status + ' ' + this.msg,
                        duration: 0
                    });
                }
            }
        },
        methods: {
            getTicketsByPage() {
                this.loadingFlag = true
                let basicAuthString = 'Basic ' + window.btoa(this.username + '/token:' + this.apikey)
                axios
                    .get("/tickets", {
                        headers: {'Authorization': basicAuthString},
                        params: {
                            per_page: this.perPage,
                            page: this.page
                        },
                    })
                    .then(response => {
                        let data = response.data
                        this.status = data.status
                        if (this.status === 200) {
                            let pageData = eval("(" + data.data + ")")
                            this.tickets = []
                            for (let tkt of pageData.tickets) {
                                this.tickets.push(tkt)
                            }
                            this.totalPage = Math.ceil(pageData.count / this.perPage)
                        } else {
                            this.msg = data.data
                        }
                        this.loadingFlag = false
                    })
                    .catch(error => {
                        let data = error.response.data
                        this.status = data.status
                        this.msg = error.toString()
                        this.loadingFlag = false
                    })
            },
            handlePrev() {
                this.page -= 1
                this.getTicketsByPage()
            },
            handleNext() {
                this.page += 1
                this.getTicketsByPage()
            },
            handleCurrentChange(page) {
                this.page = page
                this.getTicketsByPage()
            },
            showTicket(row, column, event) {
                this.selectedTicket = row
                this.listViewFlag = false
            },
            hideTicket(row, column, event) {
                this.selectedTicket = null
                this.listViewFlag = true
            },
            showLocaleDateString(row, column, cellValue, index) {
                return new Date(cellValue).toLocaleString()
            }
        }
    })
</script>
</html>
